/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   doft.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/06/08 21:38:36 by tbouder           #+#    #+#             */
/*   Updated: 2016/06/13 16:59:25 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {background-color: #505050;}

/*
** Header
*/
.st_head {position: absolute; left: 233px; background-color: #909090; border-radius: 10px; box-shadow: 10px 10px 10px black; width: 1420px; height: 137px; margin: 12px auto;}
.st_img_dot42{position: absolute; top: 10px; left: 10px; height: 110px}
.st_img_glass{position: absolute; right: 29px; top: 10px;}
.st_img_reload{position: absolute; right: 10px; top: 10px;}
.st_img_close{position: absolute; right: 10px; bottom: 10px;}

/*
** Dashboard (grid)
*/
.grid {margin-left: 240px; padding-top: 154px; display: flex; flex-direction: row;}
.grid_std {position: absolute; background-color: #909090; border-radius: 7px; box-shadow: 10px 10px 10px black; margin: 15px auto;}
.grid_side_left {padding: 1px; padding-bottom: 3; margin-left: 15px; width: 138px; height: 420px;}
.grid_side_right {padding: 1px; padding-bottom: 3; margin-left: 1235px; width: 138px; height: 420px;}
.grid_center {padding: 12px; margin-left: 185px; width: 995px; z-index: 1;}

/*
** Left & right
*/
.st_img_arrow {height: 70px; margin-left: 30.5px; margin-top: 14px;}
.st_img_eye {border: solid 5px red; border-radius: 5px; height: 65px; margin-left: 26px; margin-top: 5px;}
.st_imgs_hand {height: 67px; margin-left: 33px; margin-top: 12px;}
.st_imgs_tools {height: 70px; margin-left: 30.5px; margin-top: 5px;}
.st_imgs_chat {height: 70px; margin-left: 30.5px; margin-top: 10px;}
.st_img_book {height: 97px; margin-left: 30.5px; margin-top: 14px;}
.st_img_towel {width: 70px; margin-left: 30.5px; margin-top: 8.5px;}
.st_brik {width: 120px; height: 70px; margin-left: 9px; margin-top: 5px; background-image: url("resources/brick.jpg");}

/*
** Center
*/
.st_ikea {position: absolute; margin-top: -237px; margin-left: 320px; /*background-color: rgba(105, 20, 50, 0.2);*/ height: 220px; width: 140px; z-index: 3;}
.st_apple {position: absolute; margin-top: -250px; margin-left: 784px; /*background-color: rgba(10, 10, 150, 0.2);*/ height: 165px; width: 190px; z-index: 3;}

/*
** Dialogue zone
*/
.st_dialogue {position: absolute; height: 170px; width: 520px; border-radius: 10px; box-shadow: 10px 10px 10px black; background-color: #88FF89; margin-top: 519px; margin-left: 180px; z-index: 2;}
.st_txt_00 {margin-top: 18px; margin-left: 10px; font-size: 16px; font-family: Verdana; line-height: 20px;}
.st_txt_01 {font-size: 34px; font-family: Didot;}
.st_txt_02 {font-style: italic; line-height: 20px;}
.st_box {margin-top: 3px; margin-left: 14px;}
.st_ordi {text-shadow: 5px 5px 4px #CF5C08;}
